mixin footer()
    +b.FOOTER.footer.footer--developed.d-none.d-md-block
        .container
            .row.justify-content-between
                .col-auto
                    +e.agreement.link-underlined(href ="#") Пользовательское соглашение
                .col-auto
                    +e.organizer Организатор ООО "А Сериал"
                .col-auto.d-flex.justify-content-center.flex-grow-1
                    img.footer-logo(src="img/bottom-logo-amedia.png", width='110' height='41' alt="logo")
                .col-auto.d-flex.justify-content-center.flex-grow-1
                    +e.developed(href ="https://metasharks.ru/?utm_source=affiliate&utm_medium=crypta")  раработанно
                        br
                        | в METASHARKS STUDIO
                .col-auto
                    +e.support(href="#")
                        | support@amediateka.ru
                .col-auto
                    +e.tel(href="tel:88005001005")
                        | 8 (800) 500-100-5
