.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-calendar {
	font-size:(472.16/10)*1rem;
	width:(500/472.16)*1em;
}
.icon-camera {
	font-size:(135.29/10)*1rem;
	width:(139.02/135.29)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-list {
	font-size:(39.69/10)*1rem;
	width:(35.42/39.69)*1em;
}
.icon-map {
	font-size:(77.92/10)*1rem;
	width:(83.49/77.92)*1em;
}
.icon-mark {
	font-size:(52.68/10)*1rem;
	width:(53.76/52.68)*1em;
}
.icon-Ресурс_10 {
	font-size:(77.92/10)*1rem;
	width:(83.49/77.92)*1em;
}
