
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+form-wrap()(id="modal-order" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.head
			.text-center
				+e.title.h1 записаться
		+e.body
			+e.text.text-primary Чтобы попасть на&nbsp;кладбище игры претсолов Вам необходимо записаться.
			+e.text Для этого заполните следующие поля и&nbsp;мы&nbsp;вышлем электроныый билет Вам на&nbsp;почту:
			.row
				//- +input("text","Имя")( ) 
				.col-md-6
					+input("text","Имя")(required  value="Имя" class="is-valid" ) 
				.col-md-6
					+input("text","Фамилия")(required class='is-invalid')
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.btn(type="submit"  )  отправить
	// #modal-order
	
	+form-wrap()(id="modal-order2" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.head
			.text-center
				+e.title.h1 записаться
		+e.body 
			+e.text Выберите удобные для Вас
				br
				| дату и&nbsp;время посещения Крипты:
			.row
				//- +input("text","Имя")( ) 
				.col-md-6
					+e.input-wrap.form-group
						+e.SELECT.input.form-control(name="")
							option( selected disabled) Выберите день
							option(  ) 16 апреля, вторник
							option(  ) 15 аперля, пн. 
							option(  ) 16 апреля, вт.   
							option(  ) 17 апреля, ср. 
							option(  ) 18 апреля, чт 
							option(  ) 19 апреля, пт.
				.col-md-6
					+e.input-wrap.form-group
						+e.SELECT.input.form-control(name="")
							option( selected disabled) Выберите время
							option(  ) 16 апреля, вторник
							option(  ) 15 аперля, пн. 
							option(  ) 16 апреля, вт.   
							option(  ) 17 апреля, ср. 
							option(  ) 18 апреля, чт 
							option(  ) 19 апреля, пт.
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.btn(type="submit"  )  записаться
	// #modal-order2
	
	+b.form-wrap(id="modal-send" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form" )
		+e.head.border-0
			.text-center
				+e.title.h1 поздравляем!
		+e.body 
			+e.text.d-none.d-md-block Ваш билет отправлен на&nbsp;указанный
				br
				| Вами адрес почты 
				| 
				strong qwejqwleuh111212@mail.ru 
			
			+e.text.d-md-none Ваш билет отправлен на&nbsp;указанный Вами E-mail
			
			+e.btn-outline(href="#" )  ок
	// #modal-send
	
	+b.form-wrap(id="modal-send2" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form" )
		+e.head.border-0
			.text-center
				+e.title.h1 поздравляем!
		+e.body 
			+e.text.text-center Ждём Вас 
				|
				strong.text-primary 17 апреля в 16:30
			+e.text.d-none.d-md-block Ваш билет отправлен на&nbsp;указанный
				br
				| Вами адрес почты 
				| 
				strong qwejqwleuh111212@mail.ru 
			
			+e.text.d-md-none Ваш билет отправлен на&nbsp;указанный Вами E-mail
			
			+e.btn-outline(href="#" )  ок
	// #modal-send2


	+form-wrap()(id="modal-rate" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg modal-form" )
		+e.head
			.text-center
				+e.title.h1.text-white ставка на сезон
		+e.body
			+e.title.h1.strong.text-center.py-2 КТО УМРЕТ В ВОСЬМОМ СЕЗОНЕ?
			.text-center.pb-3.fw-300 Выберите до&nbsp;10&nbsp;персонажей. 
				br
				| Сделав ставку&nbsp;Вы уже не&nbsp;сможете поменять своё решение.
			- var pers= [ 'Дейенерис Таргариен',' Джон Сноу ','Джейме Ланнистер','Серсея Ланнистер',' Тирион Ланнистер ','Санса Старк ','Арья Старк',' Брандон Старк',' Теон Грейджой','Яра Грейджой','Бриенна Тарт','Варис','Брон','Давос Сиворт','Джорах Мормонт','Сэмвелл Тарли','Миссандея','Пёс','Лилли','Мелисандра','Даарио Нахарис','Якен Хгар (безликий)','Тормунд','Серый Червь','Король Ночи ','никто не умрёт ','все умрут' ]
				+e.row-wrap: .row
					each t in pers
						.col-md-4
							+in-ch()
								+e.SPAN.text= t 
			+e.foot
				.text-center.text-white выбрано 5/10
				+e.btn(type="submit"  ) сделать ставку
				.text-center.pt-4
					a.tdu.popup-with-move-anim(href="#modal-rules" ) Условия розыгрыша
	// #modal-order
	

	+b.form-wrap(id="modal-hero" class="zoom-anim-dialog mfp-hide modal-win modal-win--hero modal-win--sm modal-form" )
		+e.head.mb-0
			.text-center
				+e.title.h1 джоффри баратеон
		+e.body
			+b.video-wrap
				<iframe width="560" height="315" src="https://www.youtube.com/embed/MM5N-IIlTEI"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			+b.LABEL.choice-block
				+e.title жаль, что убили?
				+e.INPUT.input(type='checkbox')

				+e.SPAN.text да
					+e.SPAN.small 47 
				+e.SPAN.lab
				+e.SPAN.text нет
					+e.SPAN.small 735 
				
			p
				strong Первый этого имени, второй король Семи Королевств из династии Баратеонов, старший ребёнок, рождённый в браке Роберта Баратеона и Серсеи Ланнистер, брат Мирцеллы и Томмена
			p 
				span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом. 
	// #modal-hero


	+b.form-wrap(id="modal-rate-send" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form" )
		+e.head.border-0
			.text-center
				+e.title.h1 ваша ставка принята!
		+e.body 
			+e.text Какой-то текст про то,
				br
				| что можно пошерить или ещё какая инфа
			
			+e.text.text-primary Поделитьтся: 
			+b.soc
				+e.item(href="#")
					+icon('fb')
				
				+e.item(href="#")
					+icon('vk')
				
	// #modal-rate-send
	
	+b.form-wrap(id="modal-rules" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-win--rules modal-form" )
		+e.head 
			.text-center
				+e.title Условия розыгрыша
		+e.body 
			+e.text.strong Угадываешь на весь сезон


			
			p.text-primary.strong Угадал 10&nbsp;из&nbsp;10&nbsp;или никто не&nbsp;
				br
				| умрет&nbsp;&mdash; подписка на&nbsp;Amediateka 1&nbsp;год
			
			+e.item Угадал 9 из 10 – 6 мес  
			+e.item Угадал 8 из 10 – 3 мес
			+e.item Угадал 7 из 10 – 2 мес
			+e.item Угадал 6 из 10 – 1 мес
			+e.item Угадал 5 из 10 –  14 дней
			+e.item Угадал 4 из 10 – 7 дней
			+e.item Угадал 3 из 10 – 3 дня
			+e.item Угадал 2 из 10 - 2 дня
			+e.item Угадал 1 из 10 – 1 день
	// #modal-rules


	+form-wrap()(id="modal-policy" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg modal-form" )
		+e.head
			.text-center
				+e.title.h1 пользовательское соглашение
		+e.body--text
			p.strong.text-center Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта www. centery-got.amediateka.ru

			p 1.Общие условия
				br
				| 1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.

				br
				| 1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.

				br
				| 1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.

			p 2. Обязательства Пользователя
				br
				| 2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
				br
				|2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.
				br
				|2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
				br
				|2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.
				br
				|2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.
				br
				|2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
				br
				|2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.
				 
			p 3. Прочие условия
				br
				| 3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
				br
				| 3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
				br
				| 3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
				br
				| 3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
				br
				| Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.

	// / #modal-policy

	+b.form-wrap(id="modal-good" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form" )
		+e.head.border-0
			.text-center
				+e.title.h1 УСПЕШНО!
		+e.body 
			+e.text Пароль отправлен на указанный Вами адрес почты  
				strong qwejqwleuh111212@mail.ru  
			
			+e.btn-outline(href="#" )  ок
	// #modal-good

	+b.form-wrap(id="modal-blog" class="zoom-anim-dialog mfp-hide modal-win modal-win--hero modal-win--sm modal-form" )
		+e.head.mb-0.border-0
			.text-center
				+e.title.h1.text-white Появились новые кадры из восьмого сезона Игры престолов
		+e.body
			+b.video-wrap.img-bg.mb-3
				img.lazy-bg(src="#" data-src="img/blog.jpg", alt="")
		 
			p
				strong Первый этого имени, второй король Семи Королевств из династии Баратеонов, старший ребёнок, рождённый в браке Роберта Баратеона и Серсеи Ланнистер, брат Мирцеллы и Томмена
			p 
				span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.

			p 
				span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
	// #modal-blog
	// modal