mixin modal()

    //- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')

    //- 	div( class="   modal-dialog  modal-dialog-centered  " role='document')
    //- 		+form-wrap()(class=" modal-content modal-win ")
    //- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
    //- 			+input("tel","Введите ваш телефон")(name="tel" required)

    //- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
    //- 			+b.wrap-polite
    //- 				+b.custom-input.polite
    //- 					+b.LABEL.custom-input.polite
    //- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
    //- 						+e.SPAN.lab
    //- 						| Даю
    //- 						|
    //- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие

    //- 						| на хранение и обработку   персональных данных



    //- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
    //- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document')
    //- 		+form-wrap()(class=" modal-content modal-win ")
    //- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
    //- 			br
    //- 			.h2 Заявка принята
    //- 			br
    //- 			.h3 Скоро с Вами свяжутся
    //- 			br

    +form-wrap()(id="modal-order" class="zoom-anim-dialog mfp-hide modal-win modal-form modal-win--write")
        +e.head
            .text-center
                +e.title.h1 записаться
        +e.body
            +e.text.text-primary.mb-md-0 Чтобы избежать возможных очередей
                br
                | в реальную крипту, вы можете предварительно записаться.
            +e.text Для этого заполните следующие поля, и мы вышлем электронный билет вам на почту:
            .row.justify-content-center
                //- +input("text","Имя")( )
                .col-9.col-md-7
                    +input("text","Имя")(required placeholder="Имя")
                .col-9.col-md-7
                    +input("text","Фамилия")(required placeholder="Фамилия")
                .col-9.col-md-7.ml-auto.mr-auto
                    +input("email","Ваш email")(required)
            +e.btn(type="submit"  )  отправить
            .agreement Отправляя форму вы соглашаетесь с обработкой персональных данных и
                a.agreement__link(href="#")  пользовательским соглашением
    // #modal-order

    +form-wrap()(id="modal-order2" class="zoom-anim-dialog mfp-hide modal-win modal-form modal-win--write-time" )
        +e.head
            .text-center
                +e.title.h1 записаться
        +e.body
            +e.text Выберите удобные для вас
                br
                | дату и время посещения Крипты «Игры Престолов».
                br
                | Если  вы не увидели подходящего слота, вы можете просто приехать
                br
                | в любое время работы пространства с 18 апреля  по 19 мая.
            .row
                //- +input("text","Имя")( )
                .col-7.col-md-6.ml-auto.mr-auto
                    +e.input-wrap.form-group
                        +e.SELECT.input.form-control.js-select-date(name="" style="width: 100%")
                            option( selected disabled) Выберите день
                            option(  ) 16 апреля, вторник
                            option(  ) 15 аперля, пн.
                            option(  ) 16 апреля, вт.
                            option(  ) 17 апреля, ср.
                            option(  ) 18 апреля, чт
                            option(  ) 19 апреля, пт.
                .col-7.col-md-6.ml-auto.mr-auto
                    +e.input-wrap.form-group
                        +e.SELECT.input.form-control.js-select-time(name="" style="width: 100%")
                            option( selected disabled) Выберите время
                            option(  ) 16 апреля, вторник
                            option(  ) 15 аперля, пн.
                            option(  ) 16 апреля, вт.
                            option(  ) 17 апреля, ср.
                            option(  ) 18 апреля, чт
                            option(  ) 19 апреля, пт.
            //- +input("email","Ваше email")(required)
            //- +text( "Комментарий")
            +e.btn--bg-opacity(type="submit")  записаться
            +e.working-hours Время работы Крипты «Игры Престолов»:
                br
                | четверг – пятница 14:00 – 22:00
                br
                | суббота – воскресенье 12:00 – 21:00
            .agreement Отправляя форму вы соглашаетесь с обработкой персональных данных и
                |
                a.agreement__link(href="#") пользовательским соглашением
    // #modal-order2

    +b.form-wrap(id="modal-send" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form" )
        +e.head.border-0
            .text-center
                +e.title.h1 поздравляем!
        +e.body
            +e.text.d-none.d-md-block Ваш билет отправлен на&nbsp;указанный
                br
                | Вами адрес почты
                br
                |
                strong qwejqwleuh111212@mail.ru

            +e.text.d-md-none Ваш билет отправлен на&nbsp;указанный Вами E-mail

            +e.btn-outline(href="#" )  ок
    // #modal-send

    +b.form-wrap(id="modal-warning" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form modal-win--warning" )
        +e.head.border-0.mb-0
            .text-center
                +e.title.h1 предупреждение!
        +e.body
            +e.text Страницы, которые Вы собираетесь просматривать, могут содержать материалы, предназначенны
                br
                | для лиц, достигших совершеннолетия.
                br
                br
                | Чтобы продолжить подтвердите, что вам есть 18 лет
            +e.btn-wrap.row.justify-content-between
                .col-12.col-md-6
                    +e.btn-outline(href="#" )  Мне есть 18 лет
                .col-12.col-md-6
                    +e.btn-outline(href="#" )  Мне нет 18 лет
    // #modal-warning


    +b.form-wrap(id="modal-dragon" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form modal-win--dragon" )
        +e.head.border-0.mb-0
            .text-center
                +e.title.h1 Клетка с драконом
        +e.body
            +e.img(src="img/dragon.jpg")
            +e.text Один абзац из двух-трех предложений про то, что утт находится. Интерактива и перехода на др, страницы нет
    // #modal-map-dragon

    +b.form-wrap(id="modal-send2" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form modal-win--taken" )
        +e.head.border-0
            .text-center
                +e.title.h1 поздравляем!
        +e.body
            +e.text.text-center
                |
                span.text-primary Ждём Вас 17 апреля в 16:30 &nbsp;
            +e.text Ваш билет отправлен на&nbsp;указанный
                br
                | Вами адрес почты
                br
                |
                strong qwejqwleuh111212@mail.ru

            //+e.text.d-md-none Ваш билет отправлен на&nbsp;указанный Вами E-mail

            +e.btn-outline(href="#" )  ок
    // #modal-send2


    +form-wrap()(id="modal-rate" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg modal-form modal-win--rate pb-5" )
        +e.head
            .text-center
                +e.title.h1 КТО УМРЕТ В ФИНАЛЬНОМ СЕЗОНЕ?
        +e.body
            .text-center.fw-300.pt-md-3 Вы можете выбрать от 1 до 10 героев.
                br
                a.tdu.popup-with-move-anim(href="#modal-rules" ) Правила акции
                a.tdu.popup-with-move-anim(href="#modal-rules" )  и условия получения подписки
            - var pers= [ 'Дейенерис Таргариен','Яра Грейджой','Мелисандра','Джон Сноу','Бриенна Тарт','Даарио Нахарис','Джейме Ланнистер','Варис','Якен Хгар (безликий)','Серсея Ланнистер','Брон','Тормунд','Тирион Ланнистер','Давос Сиворт','Серый Червь','Санса Старк','Джорах Мормонт','Король Ночи','Арья Старк','Сэмвелл Тарли',' Брандон Старк',' Теон Грейджой','Миссандея','никто не умрёт ','Пёс','Лилли','все умрут' ]
            +e.row-wrap.customscrollbar-js: .row
                each t in pers
                    .col-md-4
                        +in-ch()
                            +e.SPAN.text= t
        +e.foot
            .text-center.text-white.mt-4 выбрано 5/10
            +e.btn(type="submit") сделать выбор
            .form-wrap__foot-text.text-center.mt-4 Вы можете сделать выбор только один раз

    // #modal-order


    +b.form-wrap(id="modal-hero" class="zoom-anim-dialog mfp-hide modal-win modal-win--hero modal-win--sm modal-form pb-5" style="background-image: url(img/logo_house.png)")
        +e.head.mb-0.text-center.d-md-none
            +e.title.h1 джоффри баратеон
        .row
            .col-md-6
                +e.body--left
                    +b.video-wrap
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/MM5N-IIlTEI"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    +b.FORM.choice-block.mb-md-0
                        +e.title жаль, что убили?
                        +e.INPUT#yes.input--yes(type='radio' value='yes' name="choice")
                        +e.LABEL.label--yes(for='yes') да
                            +e.SPAN.small 47
                        +e.LABEL.label--neutral(for='neutral')
                        +e.INPUT#neutral.input--neutral(type='radio' value='neutral' name="choice" checked)
                        +e.INPUT#no.input--no(type='radio' value='no' name="choice")
                        +e.LABEL.label--no(for='no') нет
                            +e.SPAN.small 735
                        +e.SPAN.lab
            .col-md-6
                +e.head.d-none.d-md-block.pl-0.mb-4
                    .text-md-left
                        +e.title.h1.pb-1 джоффри баратеон
                +e.body--text-block.customscrollbar-js
                    p
                        strong Первый этого имени, второй король Семи Королевств из династии Баратеонов, старший ребёнок, рождённый в браке Роберта Баратеона и Серсеи Ланнистер, брат Мирцеллы и Томмена
                    p
                        span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.

                    p
                        span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.

                    p
                        span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.

                    p
                        span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.

    // #modal-hero


    +b.form-wrap(id="modal-rate-send" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form modal-win--rate-send" )
        +e.head.border-0.mb-1
            .text-center
                +e.title.h1.form-wrap__title--rate-send выбор сделан!
        +e.body
            +e.text.pb-4.mb-4 Как думаете, с вашим прогнозом
                br
                | кто-нибудь согласен?
            form
                .row
                    .col-9.col-md-8.ml-auto.mr-auto
                        +input("email","Ваш email")(required)
                +e.btn.mt-4.mb-5(type="submit")  отправить

            +e.text.text-primary.mb-3 Поделиться в соц сетях:
            +b.soc
                +e.item(href="#")
                    +icon('fb')

                +e.item(href="#")
                    +icon('vk')

    // #modal-rate-send

    +b.form-wrap(id="modal-rules" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-win--rules modal-form" )
        +e.head
            .text-center
                +e.title Условия получения подписки
        +e.body
            +e.text.mb-2 Угадываешь на весь сезон

            p.text-primary.pt-0 Чем больше совпадений,  тем больше подписка в подарок.

            +e.item Угадал 9 из 10 – 6 месяцев
            +e.item Угадал 8 из 10 – 3 месяца
            +e.item Угадал 7 из 10 – 2 месяца
            +e.item Угадал 6 из 10 – 1 месяц
            +e.item Угадал 5 из 10 –  14 дней
            +e.item Угадал 4 из 10 – 7 дней
            +e.item Угадал 3 из 10 – 3 дня
            +e.item Угадал 2 из 10 - 2 дня
            +e.item Угадал 1 из 10 – 1 день

            p.tex.pt-4 Если вы выбрали «никто не умрет» и в финальном
                br
                |  сезоне действительно никто не умрет, что ж,  это будет неожиданностью
                br
                |  для всех нас, и тогда мы подарим вам годовую подписку.
    // #modal-rules


    +form-wrap()(id="modal-policy" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg modal-form" )
        +e.head
            .text-center
                +e.title.h1 пользовательское соглашение
        +e.body--text
            p.strong.text-center Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта www. centery-got.amediateka.ru

            p 1.Общие условия
                br
                | 1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.

                br
                | 1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.

                br
                | 1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.

            p 2. Обязательства Пользователя
                br
                | 2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
                br
                | 2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.
                br
                | 2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
                br
                | 2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.
                br
                | 2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.
                br
                | 2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
                br
                | 2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.

            p 3. Прочие условия
                br
                | 3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
                br
                | 3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
                br
                | 3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
                br
                | 3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
                br
                | Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.

    // / #modal-policy

    +b.form-wrap(id="modal-good" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form modal-win--good" )
        +e.head.border-0
            .text-center
                +e.title.h1 УСПЕШНО!
        +e.body
            +e.text Пароль отправлен на указанный Вами адрес почты&ensp;
                strong
                    | qwejqwleuh111212@mail.ru

            +e.btn-outline(href="#" )  ок
    // #modal-good

    +b.form-wrap(id="modal-blog" class="zoom-anim-dialog mfp-hide modal-win modal-win--hero modal-win--hero-blog modal-win--sm modal-form customscrollbar-js" )
        +e.head.mb-0.border-0
            .text-center
                +e.title.h1.form-wrap__title--color Появились новые кадры из восьмого сезона Игры престолов
        +e.body.form-wrap__body--pr-0
            +b.video-wrap.img-bg.mb-5.mb-md-4
                img.lazy-bg(src="#" data-src="img/blog.jpg", alt="")

            p.form-wrap__blog-text
                strong Первый этого имени, второй король Семи Королевств из династии Баратеонов, старший ребёнок, рождённый в браке Роберта Баратеона и Серсеи Ланнистер, брат Мирцеллы и Томмена
            p.form-wrap__blog-text
                span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
            p.form-wrap__blog-text
                span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
            p.form-wrap__blog-text
                span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
            p.form-wrap__blog-text
                span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
            p.form-wrap__blog-text
                span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
            p.form-wrap__blog-text
                span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
            p.form-wrap__blog-text
                span.fw-300 Во время свадебного пиршества Джоффри был отравлен ядом[23]. Подозрение пало на Тириона и его молодую жену Сансу, хотя позднее Мизинец в разговоре с Сансой назвал себя и Оленну Тирелл. Также есть версия, что к убийству (отравлению) Джоффри приложили руку Безликие, ибо Мизинец имеет связи с Браавосом.
            span.close-popup close
    // #modal-blog

    +b.form-wrap(id="modal-information" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form modal-win--information" )
        +e.head.border-0
            .text-center
                +e.title.h1 Информация!
        +e.body
            +e.text--adress.text-primary Адрес: Винзавод,
                br
                | 4-й Сыромятнический пер., 1/8, стр. 6.
                br
                | 18 апреля – 19 мая.
                br
            +e.text--work-time Время работы:
                br
                | четверг – пятница 14:00 – 22:00
                br
                | суббота – воскресенье 12:00 – 21:00
            +e.support(href="support@amediateka.ru") support@amediateka.ru
            +e.tel(href="tel:+78005001005") 8 (800) 500 100 5
            +e.text--agreement(href="#") Пользовательское соглашение
            +e.text--organizer(href="#") Организатор ООО "А Сериал"
            img.footer-logo(src="img/bottom-logo-amedia.png" width="250" alt="logo")



    +b.form-wrap(id="modal-map-mobile-tutorial" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form modal-win--tutorial" )
        //+e.head.border-0
        //    .text-center
        //        +e.title.h1 Информация!
        +e.list-slider
            +e.item
                img(src="img/tutorial/slide-1.png")
            +e.item
                img(src="img/tutorial/slide-2.png")
            +e.item
                img(src="img/tutorial/slide-4.png")




    // modal
