
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+form-wrap()(id="modal-order" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		+e.head
			.text-center
				+e.title.h1 записаться
		+e.body
			+e.text.text-primary Чтобы попасть на&nbsp;кладбище игры претсолов Вам необходимо записаться.
			+e.text Для этого заполните следующие поля и&nbsp;мы&nbsp;вышлем электроныый билет Вам на&nbsp;почту:
			.row
				//- +input("text","Имя")( ) 
				.col-md-6
					+input("text","Имя")(required  value="Имя" class="is-valid" ) 
				.col-md-6
					+input("text","Фамилия")(required class='is-invalid')
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.btn(type="submit"  )  отправить
	// #modal-order
	
	+b.form-wrap(id="modal-send" class="zoom-anim-dialog mfp-hide modal-win modal-win--sm modal-form" )
		+e.head.border-0
			.text-center
				+e.title.h1 поздравляем!
		+e.body 
			+e.text.d-none.d-md-block Ваш билет отправлен на&nbsp;указанный
				br
				| Вами адрес почты 
				| 
				strong qwejqwleuh111212@mail.ru 
			
			+e.text.d-md-none Ваш билет отправлен на&nbsp;указанный Вами E-mail
			
			+e.btn-outline(href="#" )  ок
	// #modal-send

	// modal