mixin s-qr()
    // start s-qr
    +b.s-qr

        .container
            +e.corner.s-qr__corner--left-top
            +e.corner.s-qr__corner--right-top
            +e.corner.s-qr__corner--left-bottom
            +e.corner.s-qr__corner--right-bottom
            +e.caption
                p.text-center.mb-0 Наведите на надгробие,
                    br
                    |    чтобы увидеть смерть персонажа

    // end s-qr
