mixin s-qr()
    // start s-qr
    +b.s-qr

        .container
            #loadingMessage
            canvas#canvas(hidden='')
            +e.caption#output(hidden="true")
                p#outputMessage.text-center.mb-0 Наведите на надгробие,
                    br
                    |    чтобы увидеть смерть персонажа
                div(hidden="true")
                    span#outputData
            +e.corner.s-qr__corner--left-top
            +e.corner.s-qr__corner--right-top
            +e.corner.s-qr__corner--left-bottom
            +e.corner.s-qr__corner--right-bottom

    // end s-qr

