.s-map {
    background-color: #0b1520;
    //height: calc(100vh - 70px);
    height: calc(100vh - 91px - 137px);
    position: relative;
    @include media-breakpoint-down(sx) {
        height: calc(100vh - 91px - 140px);
    }


    //#map12 {
    //    position: absolute;
    //    left: 0;
    //    top: 0;
    //    width: 100% !important;
    //    height: 100% !important;
    //    background-image: url("../img/mobile-map.jpg");
    //    background-size: cover;
    //    background-position: center center;
    //    @include media-breakpoint-up(sx) {
    //        background-image: url("../img/map.jpg");
    //    }
    //}

    &__map-img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media-breakpoint-down(md) {
            width: auto;
            height: 100%;
        }
    }

    &__inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

    }

    .container {
        position: relative;
        height: 100%;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 2;
            pointer-events: none;
            width: 100%;
            height: 500px;
            bottom: 0px;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(11, 21, 32, 0) 0%, rgba(11, 21, 32, 0.83) 40%, #0b1520 100%);
        }

        @include media-breakpoint-up(md) {
            &::before {
                display: none;
            }
        }
    }

    &__caption {
        @include a-cent(x);
        font-weight: 200;
        width: 100%;
        bottom: rem(100px);
        text-align: center;
        @include rfs(rem(19));
        z-index: 4;
        color: #9c8e71;
        @include media-breakpoint-up(md) {
            bottom: 100px;
            width: 560px;
            background-color: rgba($color: #000b15, $alpha: .8);
            padding: 20px 20px;
            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                @include a-cent();
                width: calc(100% - 24px);
                height: calc(100% - 16px);
                border: 1px solid #8a7e67;
            }

            &-adress{
                font-weight: 200;
            }
        }
        &-adress{
            color: #9c8e71;
            font-weight: 300;
        }

    }

    //
    @include media-breakpoint-up(xl) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(md) {
        height: calc(100vh - 70px);
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            width: 220px;
            height: 100%;
            z-index: 2;
            pointer-events: none;
        }
        &:before {
            left: 0;
            background-image: linear-gradient(to left, rgba(11, 21, 32, 0) 0%, #0b1520 100%);
        }
        &:after {
            right: 0;

            background-image: linear-gradient(to right, rgba(11, 21, 32, 0) 0%, #0b1520 100%);
        }
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(xs) {
    }

    //
    @include media-breakpoint-between(md, xl) {
    }


    //
    @include media-breakpoint-only(xs) {
    }
    @include media-breakpoint-only(sm) {
    }
    @include media-breakpoint-only(md) {
    }
    @include media-breakpoint-only(lg) {
    }
    @include media-breakpoint-only(xl) {
    }

    //
    @include media-breakpoint-down(xl) {
    }
    @include media-breakpoint-down(lg) {
    }
    @include media-breakpoint-down(md) {
    }
    @include media-breakpoint-down(sm) {
    }
    @include media-breakpoint-down(xs) {
    }

}
