.s-intro {
	padding-bottom: rem(60);
	&__head{
		text-align: center;
		padding-top: rem(23);
		padding-bottom: rem(70);
		&--reg{
			padding-bottom: rem(50);
		}
	}
	&__col-head{
		width: rem(99);
	}
	.form-wrap__input-wrap{
		max-width: rem(360);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(34);
	}
	.soc{
		margin-top: rem(15) ;
		margin-bottom: rem(27) ;
	}
	.form-wrap__foot-text{
		// max-width: rem(520);
		font-size: rem(15);
		padding-top: rem(8);
		font-weight: 300;
		&--login{
			padding-top: rem(50);
		}
	}

	&__head-logo{
		margin-top: 9px;
	}

	& .form-wrap__btn{
		margin-top: rem(75);
		max-width: 260px;
	}

	//страница логина
	&--login{
		.form-wrap__text{
			margin-bottom: rem(50);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {
		//страница логина выше планшета
		&--login{
			.form-wrap__text{
				margin-bottom: rem(35);
			}
			.title-img{
				max-width: 577px;
				margin-bottom: rem(35);
			}
			.s-intro__head{
				padding-bottom: rem(40);
			}
			.form-wrap__input-wrap{
				margin-bottom: rem(38);
				&--login{
					margin-bottom: rem(21);
				}
			}
			.soc{
				margin-top: rem(8) ;
			}
		}
	}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) { }


	//
	@include media-breakpoint-only(xs) {
		&__head-logo{
			width: 222px;
			height: auto;
			margin-top: 0;
		}
		&__col-head{
			width: rem(50);
		}
	}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}

}

.title-img{
	max-width: rem(677);
	margin-bottom: rem(72);
	&--reg{
		margin-bottom: rem(50);
	}
}

.form-wrap__restore{
	font-size: 17px;
	margin-bottom: rem(20);
}
