extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-blog/_s-blog.pug

block title
	title Блог

block pagecontent
	+mob-mnu()
	+header() 
		+top-nav()
	//- .container.page-title.text-center
	//- 	h1 
	//- 		span.d-none.d-md-block расписание мероприятий
	//- 		span.d-md-none мероприятия
	.container.d-md-none.page-title.text-center
		h1 Блог
	+s-blog
	//- +header-block()
	//- +s-form()
	//- +s-contact()
	//- +footer()

