extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

block title
	title title

block pagecontent
	+b.s-intro
		.container
			+e.head.s-intro__head--reg
				.row
					+e.col-head.col-auto
					.col
						img.s-intro__head-logo(src="img/desktop-logo.png", alt="logo")
					+e.col-head.col-auto.text-right
						img(src="img/18+.png", width='58px' height='58px' alt="")
			+e.body
				.text-center
					img.res-i.title-img.title-img--reg(src="img/title.png", width='573px' alt="")
				+form-wrap
					+e.text.form-wrap__text--reg Введите e-mail
						br
						| или войдите через социальные сети
					+input.pl-0("email", required placeholder="E-mail")
					+e.btn.mt-0.pt-2.pb-2.form-wrap__btn--bg-opacity(href="#") зарегистрироваться
					+b.soc
						+e.text.text-center.mb-2.w-100 или
						+e.item(href="#")
							+icon('fb')

						+e.item(href="#")
							+icon('vk')
					+e.foot-text.text-center При входе вы соглашаетесь на &nbsp;
						|
						a.link-underlined.text-white.d-inline-block.popup-with-move-anim(href="#modal-policy") обработку персональных данных

