extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

block title
	title title

block pagecontent
	+b.s-intro
		.container
			+e.head
				.row
					+e.col-head.col-auto
					.col
						img(src="img/svg/logo.svg", width='123px' height='67px' alt="logo")
					+e.col-head.col-auto
						img(src="img/18+.png", width='58px' height='58px' alt="")
			+e.body
				.text-center
					img.res-i.title-img(src="img/title.png", alt="")
				+b.form-wrap
					+e.text.text-primary.strong.w-35 Добро пожаловать на реальное кладбище самого кровожадного сериала!
					+e.text Тут вы почтите память павших героев, снова увидите каждую смерть, сможете посетить похоронную процессию, увидите дракона в заточении,
						span.text-white  поборитесь за бесплатную подписку
						br
						br
						| ...и многое другое!
					+e.btn(href="#") зарегистрироваться


