
mixin mob-mnu()
	+b.nav-menu--mobile.d-md-none
		+e.link(href="#")
			+icon('IGoT_cons-05')

		+e.link--current(href="#")
			+icon('IGoT_cons-04')
		+e.link(href="#")
			+icon('IGoT_cons-01')
		+e.link(href="#")
			+icon('IGoT_cons-02')

		+e.link(href="#")
			+icon('IGoT_cons-03')

	//  мобильное меню
mixin top-nav()
	// start top-nav
	+b.top-nav
		.container
			.row
				.col-auto
					+e.logo(href="#")
						picture
							source(media='(min-width: 768px)', srcset="img/desktop-inner-logo.png" width='165')
							+e.logo-img(src="img/mobile-inner-logo.png", alt="logo")
				.col.d-none.d-md-block
					+b.nav-menu
						+e.link(href="#") КАРТА КРИПТЫ
						+e.link--current(href="#") мероприятия
						+e.link(href="#") блог
						+e.link(href="#") как найти?
				.col-auto.flex-grow-1.flex-md-grow-0
					+e.btn.popup-with-move-anim(href="#modal-order")
						span записаться
					a.top-nav__btn-out.text-primary.d-none.d-md-inline(href="#") Выйти
				.col-auto.d-md-none
					a.top-nav__btn-out.text-primary.popup-with-move-anim(href="#modal-information")
						+icon('IGoT_cons-06')
					a.top-nav__btn-out.text-primary(href="#")
						+icon('IGoT_cons-07')

				.col-auto.d-none.d-md-block
					img(src="img/18+.png", width="43" heighi="43" alt="")


	// end top-nav
