.s-blog {
	.container{
		padding-bottom: rem(20);
		position: relative;
	}
	&__col{
		margin-bottom: 60px;
	}
	&__item{
		display: block;
		background-color: #0c141d;
		height: 100%;
		text-decoration: none !important;
		color: #dfdfdf;
	}
	&__img-wrap{
		@include block(356,177);
	}
	&__title{
		padding: rem(18px) rem(18px);
		@include rfs(rem(16));
	}
	padding-top: 58px;
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {
		&__col{
			margin-bottom: 30px;
		}
	}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) { }


	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {
		&__col{
			padding-right: 35px;
			padding-left: 35px;
		}
	}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}

}
