.s-cemetery {
	min-height: 100vh;
	&__container-wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		pointer-events: none;
		.container{
			position: relative;
			height: 100%;
			&::before,
			&::after{
				content: '';
				position: absolute;
				@include media-breakpoint-up(lg) {

					top: 0;
					height: 100%;
					width: 550px;
				}
				z-index: 2;
				pointer-events: none;
			}
			@include media-breakpoint-up(lg) {
				&::after{
						left: 100%;
						background-image: linear-gradient(to left, #000000 0%, #000000 22%, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
					}
			}
				&::before{
					@include media-breakpoint-up(lg) {

						// left: 0;
						right: 100%;
						background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, #000000 78%, #000000 100%);
					}

				}
		}
	}

	&__foot{
		position: fixed;
		min-width: 750px;
		@include media-breakpoint-up(md) {

			bottom: 0;
		}
		bottom: 60px;
		width: 100vw;
		margin-right: calc(100% - 100vw);
		left: 0;
		z-index: 10;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, #000000 78%, #000000 100%);
		text-align: center;
		@include rfs(rem(16));
		padding-bottom: rem(50);
		padding-top: rem(20);
		padding-left: rem(15px);
		padding-right: rem(15px);

	}
	&__foot-title{
		color: #9c8f71;
		font-weight: bold;
		@include rfs(rem(19));
			text-transform: uppercase;
	}

	&__text{
		font-weight: 300;
		margin-bottom: 1em;
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-block;
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		@include media-breakpoint-up(md) {
			width: 260px;
		}
		&--rate{
			@include media-breakpoint-down(xs) {
					background-color: rgba(13, 15, 21, 0.71);
					color: $primary;
					padding-top: rem(8);
			}
		}
		&--reset{
			width: em(42);
			height: rem(36);
			padding: 0;

		}

		.icon{
			font-size: 57px;
				color:  transparent;
				stroke: #000000;
				.path-mark{
					color: #000000;
					stroke:  transparent;
				}
				path[stroke-width="3"]{
					fill: transparent;
				}
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) { }


	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}

}
