mixin s-cemetery()
	// start s-cemetery
	+b.s-cemetery.section
		+e.btn--rate.popup-with-move-anim(href="#modal-hero") герой
		+e.btn--rate.popup-with-move-anim(href="#modal-warning") 18+
		+e.btn--rate.popup-with-move-anim(href="#modal-dragon") modal-dragon
		+e.btn--rate.popup-with-move-anim(href="#modal-rate-send") modal-rate-send
		+e.btn--rate.popup-with-move-anim(href="#modal-order2") записаться время
		+e.btn--rate.popup-with-move-anim(href="#modal-send") modal-send
		+e.btn--rate.popup-with-move-anim(href="#modal-send2") modal-send2
		+e.btn--rate.popup-with-move-anim(href="#modal-rate-send") modal-rate-send
		+e.btn--rate.popup-with-move-anim(href="#modal-good") modal-good
			.container

		+e.foot
			+e.foot-title.d-none.d-md-block Кто умрет в восьмом сезоне?
			+e.text.d-none.d-md-block Сделай ставку и выиграй подписку на AMEDIATEKA
			.row
				.col
					+e.btn--rate.popup-with-move-anim(href="#modal-rate") сделать ставку
		// скрипт карты сюда
	// end s-cemetery
