mixin s-map-cemetery()
    // start s-map-cemetery
    +b#s-map-cemetery.s-cemetery.s-map-cemetery


        +e.foot
            .container
                +e.foot-title.d-none.d-md-block Кто умрет в восьмом сезоне?
                +e.text.d-none.d-md-block Сделайте выбор и получите подписку на Амедиатеку
                .row
                    .col
                        +e.btn--rate.popup-with-move-anim(href="#modal-rate") сделать выбор
                .s-map-cemetery__zoom-btns(data-toggle="tooltip" title="Кнопки зума" data-placement="left")
                    button#map-cemetery__zoom-in.s-map-cemetery__zoom-btn +
                    button#map-cemetery__zoom-out.s-map-cemetery__zoom-btn -
        // скрипт карты сюда
    // end s-cemetery
