.s-map-cemetery {
    max-height: calc(100vh - 91px - 137px);
    min-height: 100%;
    overflow: hidden;

    & .container {
        position: relative;
    }

    //@include media-breakpoint-down(md) {
    //    .s-cemetery__foot {
    //        bottom: 0;
    //    }
    //}

    @include media-breakpoint-up(md) {
        max-height: calc(100vh - 91px);
    }

    &-title {
        position: absolute;
        z-index: 3;
        top: 90px;
        pointer-events: none;
    }
}

#s-map-cemetery{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%; 
    height: 100vh;
}

.s-map-cemetery__zoom-btns {
    width: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: rem(53);
    top: rem(-62);
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.s-map-cemetery__zoom-btn {
    background-color: inherit;
    outline: none;
    background: rgba(0, 0, 0, .2);
    border: 1px solid rgba(185, 167, 131, 0.67);
    margin-bottom: 5px;
    color: $primary;
    line-height: 1.7;
    height: rem(30);
    width: rem(30);

    &:last-child {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 1;
    }

    &:hover {
        background-color: #ab966b;
        border-color: #a79062;
        color: #FFFFFF;
    }

    &:active {
        color: #fff;
        background-color: #a79062;
        border-color: #a18a5b;
        padding: 0
    }

    &:focus {
        outline: none;
    }
}


//.tutorial-overlay {
//    position: relative;
//
//    &:before {
//        position: absolute;
//        width: 100%;
//        height: 100%;
//        display: block;
//        pointer-events: none;
//        content: "";
//        background-color: rgba(0, 0, 0, 0.55);
//        z-index: 210;
//        top: 0;
//        left: 0;
//        opacity: 1;
//    }
//
//    .s-map-cemetery{
//        position: relative;
//    }
//
//    .s-map-cemetery__zoom-btn,
//    .top-nav__btn {
//        z-index: 3000;
//        box-shadow: 0 0 120px 30px #fff;
//    }
//    .s-map-cemetery__zoom-btns{
//       &:before{
//           position: absolute;
//           display: block;
//           top: 0;
//           right: 50px;
//           content: 'Масштабируйте карту Крипты';
//           font-weight: 200;
//           width: 150px;
//           color: rgb(255, 255, 255);
//           z-index: 50000;
//       }
//    }
//
//    //#s-map-cemetery{
//    //    position: relative;
//    //    &:before{
//    //        position: absolute;
//    //        display: block;
//    //        top: 50%;
//    //        left: 45%;
//    //        z-index: 400;
//    //        color: #FFFFFF;
//    //        box-shadow: 0 0 100px 30px #fff, -50px 0 100px 30px #fff;
//    //        background-color: rgba(255, 255, 255, 0.24);
//    //    }
//
//
//    .tutorial-dragon{
//        position: absolute;
//        top: 62%;
//        left: 45%;
//        z-index: 400;
//        box-shadow: 0 -50px 100px 35px rgba(255, 255, 255, 0.69);
//        &:after{
//            position: absolute;
//            display: block;
//            top: 50%;
//            left: 100%;
//            content: 'Нажимайте на всё, карта кликабельна';
//            font-weight: 200;
//            width: 150px;
//            color: rgb(255, 255, 255);
//            filter: blur(0)
//        }
//    }
//    .tutorial-grave{
//        position: absolute;
//        top: 35%;
//        left: 50%;
//        transform: translateX(-350px);
//        z-index: 400;
//        box-shadow: -50px 0 100px 55px rgba(255, 255, 255, 0.69);
//        &:after{
//            position: absolute;
//            display: block;
//            top: 50%;
//            left: 100%;
//            content: 'Смотрите, как уходил каждый герой';
//            font-weight: 200;
//            width: 150px;
//            color: rgb(255, 255, 255);
//            filter: blur(0)
//        }
//    }
//}

.map-tutorial{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-image: url("../img/map-tutorial.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;

    .form-wrap__btn{
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
    }

    .map-tutorial__close{
        position: absolute;
        top: 2px;
        left: 83%;
        font-size: 50px;
        font-weight: 300;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
}
